.parent {
    height: 100%;
    width: 100vw;
    display: flex;
    padding: 10px;
    overflow: auto;
}

.left {
    width: 20%;
    height: auto;
    background-color: aqua;
    overflow: auto;
    text-align: center;
    border-radius: 15px;
    margin-left: 7px;
}

.right {
    width: 76vw;
    height: 100vh;
    background-color: aqua;
    overflow: auto;
    border-radius: 15px;
    margin-left: 15px;
}